html {
    box-sizing: border-box;
    min-height: 100%; /*prenastavenie gradientu na celej stránku i pre Pravidla*/
  }

  *,
  ::after,
  ::before {
    box-sizing: inherit;
  }

h1 {
    font-family: 'Lobster', cursive;
    font-size: 50px; 
    font-weight: normal;
    background-color: #283e50;
    margin: 0;
    padding:30px 0;
}   


body { 
font-family: Arial, Helvetica, sans-serif;
background: linear-gradient(#615dad,#ffc8da);
background-size: cover;
/* height: 100vh; */
color: #ffffff;
font-size: 18px;
font-weight: normal;
width: 400px;
text-align: center;
position: relative;
left: calc(50% - 400px / 2);
margin-top: 5%;
}


.uvodni {
    font-size: 0px;
    border-radius: 6px 6px 0 0;
    width: 100%;
}

.kontejner {
    display: flex;
    flex-direction: column;
}


.text {
    background-color: #283e50;
    margin: 0;
    padding:0 15px 40px 15px;
}


.tlacitka {
    display: flex;
    flex-direction: column;
}


.pravidla,
.stranka_uvod {
    background-color: #1fcca4;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: solid 1px #283e50;
}

.pravidla:hover,
.stranka_uvod:hover {
    background-color: #1cbb96;
}

.hrat {
    background-color: #0197f6;
    padding-top: 15px;
    padding-bottom: 15px;
}

.hrat:hover {
    background-color: #0090e9;
}


a {
text-decoration: none;
color: #ffffff;
}

.vysvetleni {
    background-color: #283e50;
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-radius: 6px 6px 0 0;
}

img {
    width: 100%;
}

.cross,
.circle {
    width: 1em;
    height: 1em;
    filter: invert(100%);
}

li {
    padding: 0 0 15px 0;
  }


figure {
  margin: 0 0 40px 0;
  padding: 0;
}

figcaption {
    text-align: center;
}

@media (min-width: 650px) {
 .vysvetleni {
    width: 640px;
    position: relative;
    left: calc(50% - 640px / 2);
}

.obrazky {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

 figure {
  width: calc(100% / 2.2);
}

h1 {
    text-align: center;
}

.seznam {
    text-align: left;
}

figcaption {
    font-size: 12px;
}


}