h1 {
    font-family: 'Lobster', cursive;
    font-size: 50px; 
    font-weight: normal;
    background-color: #283e50;
    margin: 0;
    padding:30px 0;
}   


body { 
font-family: Arial, Helvetica, sans-serif;
background: linear-gradient(#615dad,#ffc8da);
background-size: cover;
height: 100vh;
color: #ffffff;
font-size: 19px;
width: 400px;
text-align: center;
position: relative;
left: calc(50% - 400px / 2);
margin-top: 5%;
}

img {
    border-radius: 6px 6px 0 0;
    width: 100%;
}

.obrazek {
    font-size: 0px;
}

.kontejner {
    display: flex;
    flex-direction: column;
}


.obrazek {
    font-size: 0px;
}


.text {
    background-color: #283e50;
    margin: 0;
    padding:0 15px 40px 15px;
}


.tlacitka {
    display: flex;
    flex-direction: column;
}


.pravidla {
    background-color: #1fcca4;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: solid 1px #283e50;
}

.pravidla:hover {
    background-color: #1cbb96;
}

.hrat {
    background-color: #0197f6;
    padding-top: 15px;
    padding-bottom: 15px;
}

.hrat:hover {
    background-color: #0090e9;
}


a {
text-decoration: none;
color: #ffffff;
}


